*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    color: #ee6c4d;
}
body{
    background-color: #e0fbfc;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin: 1em;
}
nav button:hover{
    color: white;
}
nav #login{
    margin-left: auto;
}
nav #navigation{
    background-color: #293241;
    display: flex;
    justify-content: center;
}
nav li{
    list-style: none;
    margin: 1em;
}
nav a{
    text-decoration: none;
    color: #98c1d9;
}
nav a:hover{
    color: white;
    
}
form{
    display: flex;
    justify-content: center;
    background-color: #293241;
    width: 50%;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;
}
input, select{
    background-color: #e0fbfc;
    border: none;
    padding: 0.5em;
    margin: 1em;
}

